// ohmyfood logo front page
.frontpage__h1 {
    font-family: $main-title-font; 
    text-align: center;
    margin: 10px;
}

// ohmyfood logo order page
.otherpage__h1 {
    font-family: $main-title-font; 
    text-align: center;
}
