$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99E2D0;
$darken-tertiary: #0c8d6f;

// all box-shadow are the same
$box-shadow: 3px 3px 10px rgb(173, 172, 172);

$main-title-font: 'Shrikhand', cursive;
